<nav class="w-2/12 border-r-2">
    <div class="py-5 mb-5 border-b-4">
        <h1 class="text-center">
            Guess the people<br>
            Backoffice
        </h1>
    </div>

    <div class="text-center mb-3">
        <a class="py-1 px-3" href="{{path('backoffice_riddle_list')}}">Devinettes</a>
    </div>
    <div class="text-center mb-3">
        <a class="py-1 px-3" href="{{path('backoffice_user_list')}}">Administrateurs</a>
    </div>
</nav>