<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('styles/app.css') }}">
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
        <div class= "min-h-screen w-100 flex background-linear">
            
            {% include "_fragments/navigation.html.twig" %}

            <main class="w-10/12">
                <div class="flex justify-end">
                    <a href="{{path('backoffice_login_logout')}}" class="mr-5">Se déconnecter</a> 
                </div>
                {% block body %}{% endblock %}
            </main>
        </div>
    </body>
</html>
